.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  a[routerLink="/add"] {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  a[routerLink="/add"]:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    color: #555;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  button, a[routerLink*="/edit"] {
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button {
    background-color: #dc3545; 
    border: none;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  #editButton {
    background-color: #28a745; 
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  #editButton:hover {
    background-color: #106121;
  }
  